﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<form action="/" method="post">
    Name<input type="text" name="firstname" value="" />
    Password<input type="password" name="username" value="" />
    <br>
    <input type="radio" name="gender" value=""> Female<br>
    <input type="radio" name="gender" value=""> Man

</form>